html {
  font-size: 18px;
}
body {
  background-color: #fff;
  color: #2a2a2a;
}
p {
  line-height: 1.8;
}
a {
  text-decoration: none;
  border-bottom: 2px solid #f06;
  color: #2a2a2a;
}
a:visited,
a:hover {
  color: #2a2a2a;
}
.intro {
  margin: 5rem auto;
}
.intro__hed {
  max-width: 55rem;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.intro__byline {
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 1rem;
}
.intro__dek {
  font-size: 1.1rem;
  max-width: 25rem;
  margin: 0 auto;
}
@media only screen and (min-width: 25em) {
  .hack {
    display: none;
  }
}
@media only screen and (min-width: 40em) {
  .hack {
    display: none;
  }
}
@media only screen and (min-width: 50em) {
  .hack {
    display: none;
  }
  .intro__hed {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 60em) {
  .hack {
    display: none;
  }
}


/* STORY */
main {
  padding: 0 0.75rem;
}

.story__text {
  max-width: 35rem;
  margin: 2rem auto;
}

.story__text p {
  margin-bottom: 1.5rem;
}


.chart {
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

/* SMULT */
.bar.women {
  fill: steelblue;
}

.bar.men {
  fill: grey;
}

.chart__smult {
  
}

.chart__smult svg {
  margin: .25rem;
}

.smult__value{
  font: 11px sans-serif;
  fill: white;
}

.genre__label{
  font: 14px sans-serif;
}




/* GENDER */
.chart__gender {
  
}

.chart__gender .tooltip {
  position: absolute;
  background: red;
  pointer-events: none;
}

.chart__gender .fifty-percent-line {
  fill: none;
  stroke: #fff;
  stroke-opacity: 0.5;
  stroke-width: 1px;
  stroke-dasharray: 4px 4px;
}

.chart__gender .fifty-percent-label {
  fill: #fff;
  font-size: 12px;
}

.vertical {
  fill: #fff;
  fill-opacity: 0.5;
}

.chart__gender text {
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-size: 12px;
}

.chart__gender text.area__label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
} 

.chart__gender .axis path {
  display: none;
}

.chart__gender .axis--y line {
    stroke-dasharray: 4px 4px;
    stroke-opacity: 0.2;
}

.chart__gender .axis--y .tick:nth-child(2) {
  display: none;
}
.chart__gender .axis text {
    font-size: 10px;
}

.chart__gender .interaction {
  fill-opacity: 0;
}






/* GENRE */
.chart__genre {
  
}

.chart__genre text {
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-size: 12px;
}

.chart__genre .axis path {
  display:  none;
}

.chart__genre .axis text {
    font-size: 10px;
}


.chart__gender svg {
}

.legend-container.is-hidden {
  display: none;
}

.legend-container text {
  padding: 1rem;
  font-size: 11px;
}

.toggle {
  margin: 1rem auto;
  text-align: center;
}

.toggle li {
  display: inline-block;
}

.toggle__button {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid #000;
}

.toggle__button.is-active {
  background-color: red;
}


.name{
  margin: 0px;
  text-decoration: none;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
  margin-top: 4px;
  font-family: "Whitney SSm A", "Whitney SSm B";
  color: black;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
/*  font-size: 0.8rem;*/
  margin-top: 0.75em;
  letter-spacing: 0.05em;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 6px;
  font: 13px sans-serif;
  line-height: 15px;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.chart__genre .mobile-legend {
  display: block;
}

.chart__genre .mobile-legend li {
  float: left;
  padding: 0.25rem;
  line-height: 1;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 11px;
}

@media only screen and (min-width: 700px) {
  .chart__genre .mobile-legend {
    display: none;
  }
}