html {
  font-size: 18px;
}
body {
  background-color: #fff;
  color: #2a2a2a;
}
p {
  line-height: 1.8;
}
a {
  text-decoration: none;
  border-bottom: 2px solid #f06;
  color: #2a2a2a;
}
a:visited,
a:hover {
  color: #2a2a2a;
}
.intro {
  margin: 5rem auto;
}
.intro__hed {
  max-width: 55rem;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.intro__byline {
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 1rem;
}
.intro__dek {
  font-size: 1.1rem;
  max-width: 25rem;
  margin: 0 auto;
}
@media only screen and (min-width: 25em) {
  .hack {
    display: none;
  }
}
@media only screen and (min-width: 40em) {
  .hack {
    display: none;
  }
}
@media only screen and (min-width: 50em) {
  .hack {
    display: none;
  }
  .intro__hed {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 60em) {
  .hack {
    display: none;
  }
}


/* STORY */
main {
  padding: 0 0.75rem;
}

.story__text {
  max-width: 35rem;
  margin: 2rem auto;
}

.story__text p {
  margin-bottom: 1.5rem;
}

.btn {
  border-radius: 3px;
  padding: 0.5rem;
  line-height: 1;
  width: 5rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #ddd;
  border: 2px solid #aaa;
  opacity: 0.75;
}

.btn.is-active {
  background-color: #888;
}

.chart {
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

.chart text {
  fill: #555;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.chart__hed {
  font-weight: bold;
  text-align: center; 
}

/* SMULT */
.bar.women {
  fill: steelblue;
}

.bar.men {
  fill: grey;
}

.chart__smult {
  
}

.chart__smult svg {
  margin: .25rem;
}

.smult__value{
  font: 11px sans-serif;
  fill: white;
}

.genre__label{
  font: 14px sans-serif;
}




/* GENDER */
.chart__gender {
  
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #333;
  padding: 0.25rem 0.5rem;
  width: 7rem;
}

.chart__gender .tooltip p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0.25rem;
  line-height: 1.25;
}

.chart__gender p.tooltip--year {
  border-bottom: 1px solid #333;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
}

.chart__gender .tooltip span {
  font-weight: bold;
}

.chart__gender .tooltip--male span {
  color: #BB605D;
}

.chart__gender .tooltip--female span {
  color: #0C4840;
}


.chart__gender .fifty-percent-line {
  fill: none;
  stroke: #fff;
  stroke-opacity: 0.6;
  stroke-width: 1px;
  stroke-dasharray: 4px 4px;
}

.chart__gender .fifty-percent-label {
  fill: #fff;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.vertical {
  fill: #ddd;
  fill-opacity: 0.5;
}

.chart__gender text {
  font-size: 12px;
}

.chart__gender text.area__label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
} 

.chart__gender .axis path {
  display: none;
}

.chart__gender .axis--y line {
    stroke-dasharray: 4px 4px;
    stroke-opacity: 0.2;
}

.chart__gender .axis--x line {
  stroke-opacity: 0.2;
}

.chart__gender .axis--y .tick:nth-child(2) {
  display: none;
}
.chart__gender .axis text {
    font-size: 10px;
}

.chart__gender .interaction {
  fill-opacity: 0;
}






/* GENRE */
.chart__genre {
  
}

.chart__genre text {
  font-size: 12px;
}

.chart__genre .axis path {
  display:  none;
}

.chart__genre .axis text {
    font-size: 10px;
}

.chart__genre .area {
  stroke: none;
}

.legend-container.is-hidden {
  display: none;
}

.legend-container text {
  padding: 1rem;
  font-size: 11px;
}

.toggle {
  margin: 1rem auto;
  text-align: center;
}

.toggle li {
  display: inline-block;
}

.tooltip {
  position: absolute;
  text-align: left;
  padding: 6px;
  font: 13px sans-serif;
  line-height: 15px;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.chart__genre .mobile-legend {
  display: block;
}

.chart__genre .mobile-legend li {
  float: left;
  padding: 0.25rem;
  line-height: 1;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 11px;
}

.rg-container {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 1em 0.5em;
  color: #222;
}
.rg-header {
  margin-bottom: 1em;
  text-align: left;
}

.rg-header > * {
  display: block;
}
.rg-hed {
  font-weight: bold;
  font-size: 1.4em;
}
.rg-dek {
  font-size: 1em;
}

.rg-source {
  margin: 0;
  font-size: 0.75em;
  text-align: right;
}
.rg-source .pre-colon {
  text-transform: uppercase;
}

.rg-source .post-colon {
  font-weight: bold;
}

/* table */
table.rg-table {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}
table.rg-table tr {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  color: #333;
}
table.rg-table thead {
  border-bottom: 3px solid #ddd;
}
table.rg-table tr {
  border-bottom: 1px solid #ddd;
  color: #222;
}
table.rg-table tr.highlight {
  background-color: #dcf1f0 !important;
}
table.rg-table.zebra tr:nth-child(even) {
  background-color: #f6f6f6;
}
table.rg-table th {
  font-weight: bold;
  padding: 0.35em;
  font-size: 0.9em;
}
table.rg-table td {
  padding: 0.35em;
  font-size: 0.9em;
}
table.rg-table .highlight td {
  font-weight: bold;
}
table.rg-table th.number, td.number {
  text-align: right;
}

/* media queries */
@media screen and (max-width: 600px) {
.rg-container {
  max-width: 600px;
  margin: 0 auto;
}
table.rg-table {
  width: 100%;
}
table.rg-table tr.hide-mobile, table.rg-table th.hide-mobile, table.rg-table td.hide-mobile {
  display: none;
}
table.rg-table thead {
  display: none;
}
table.rg-table tbody {
  width: 100%;
}
table.rg-table tr, table.rg-table th, table.rg-table td {
  display: block;
  padding: 0;
}
table.rg-table tr {
  border-bottom: none;
  margin: 0 0 1em 0;
  padding: 0.5em;
}
table.rg-table tr.highlight {
  background-color: inherit !important;
}
table.rg-table.zebra tr:nth-child(even) {
  background-color: none;
}
table.rg-table.zebra td:nth-child(even) {
  background-color: #f6f6f6;
}
table.rg-table tr:nth-child(even) {
  background-color: none;
}
table.rg-table td {
  padding: 0.5em 0 0.25em 0;
  border-bottom: 1px dotted #ccc;
  text-align: right;
}
table.rg-table td[data-title]:before {
  content: attr(data-title);
  font-weight: bold;
  display: inline-block;
  content: attr(data-title);
  float: left;
  margin-right: 0.5em;
  font-size: 0.95em;
}
table.rg-table td:last-child {
  padding-right: 0;
  border-bottom: 2px solid #ccc;
}
table.rg-table td:empty {
  display: none;
}
table.rg-table .highlight td {
  background-color: inherit;
  font-weight: normal;
}
}

@media only screen and (min-width: 700px) {
  .chart__genre .mobile-legend {
    display: none;
  }
}