html {
  font-size: 18px;
}
body {
  background-color: #fff;
  color: #2a2a2a;
}
p {
  line-height: 1.8;
}
a {
  text-decoration: none;
  border-bottom: 2px solid #EC7E6B;
  color: #2a2a2a;
}
a:visited,
a:hover {
  color: #2a2a2a;
}
.intro {
  margin: 5rem auto;
}
.intro__hed {
  max-width: 55rem;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.intro__byline {
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 1rem;
}
.intro__dek {
  font-size: 1.1rem;
  max-width: 25rem;
  margin: 0 auto;
}
/* STORY */
main {
  padding: 0 0.75rem;
}

.subhed {
  margin-top: 5rem;
  font-weight: bold;
}

.story__text {
  max-width: 35rem;
  margin: 2rem auto;
}

.story__text p {
  margin-bottom: 1.5rem;
}

.btn {
  border-radius: 3px;
  padding: 0.5rem;
  line-height: 1;
  width: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #ddd;
  border: 2px solid #aaa;
  opacity: 0.75;
}

.btn.is-active {
  background-color: #888;
}

.chart {
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

.chart text {
  fill: #555;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.chart__hed {
  font-weight: bold;
  text-align: center; 
}

/* SMULT */
.chart__smult {
  
}

.bar--women {
  fill: #0C4B4A;
}

.bar--men {
  fill: #EC7E6B;
}

.genre__title {
  font-size: 12px;
  font-weight: bold;
}

.decade text {
  font-size: 12px;
  fill: #888;
}

.decade .decade__percent {
  visibility: hidden;
  fill: #aaa;
  font-size: 10px;
}

.decade__percent.is-visible {
  visibility: visible;
}

.chart__key {
  height: 100%;
  overflow: hidden;
}
.chart__key li {
  width: 50%;
  float: left;
  padding: 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.chart__key .key--men {
  text-align: right;
  color: #EC7E6B;
}

.chart__key .key--women {
  color: #0C4B4A;
}

/* GENDER */
.chart__gender {
  
}

.chart .tooltip {
  position: absolute;
  pointer-events: none;
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #333;
  padding: 0.25rem 0.5rem;
  visibility: hidden;
}

.chart .tooltip p {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0.25rem;
  line-height: 1.25;
  border-bottom: 1px dotted #ccc;
}
.chart__gender .tooltip p {
  width: 6rem;
}

.chart__genre .tooltip p {
  width: 9rem;
  padding: 0 0.25rem;
}

.chart__genre .tooltip .selected {
  color: #fff;
  font-weight: bold;
}

.chart p.tooltip--year {
  border-bottom: none;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.tooltip span {
  font-weight: bold;
}

.chart__gender .tooltip--male span {
  color: #EC7E6B;
}

.chart__gender .tooltip--female span {
  color: #0C4B4A;
}


.chart__gender .fifty-percent-line {
  fill: none;
  stroke: #fff;
  stroke-opacity: 0.6;
  stroke-width: 1px;
  stroke-dasharray: 4px 4px;
}

.chart__gender .fifty-percent-label {
  fill: #fff;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.vertical {
  fill: #ddd;
  fill-opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.chart__gender text {
  font-size: 12px;
}

.chart__gender text.area__label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
} 

.chart__gender .axis path {
  display: none;
}

.chart .axis--x line {
  stroke-opacity: 0.2;
}

.chart__gender .axis--y line {
    stroke-dasharray: 4px 4px;
    stroke-opacity: 0.2;
}

.chart .axis--y .tick:nth-child(2) {
  display: none;
}

.chart__gender .axis text {
    font-size: 10px;
}

.chart__gender .interaction {
  fill-opacity: 0;
}






/* GENRE */
.chart__genre {
  
}

.chart__genre text {
  font-size: 12px;
}

.chart__genre .axis path {
  display:  none;
}

.chart__genre .axis text {
    font-size: 10px;
}

.chart__genre .area {
  stroke: none;
}

.legend-container.is-hidden {
  display: none;
}

.legend-container text {
  padding: 1rem;
  font-size: 11px;
}

.toggle {
  margin: 1rem auto;
  text-align: center;
}

.toggle li {
  display: inline-block;
  margin: 0 0.2rem;
}

.chart__tables .btn {
  width: auto;
  padding: 0.25rem;
}

.chart__tables .toggle li {
  margin: 0.1rem;
}

.chart__genre .mobile-legend {
  display: block;
  height: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.chart__genre .mobile-legend li {
  float: left;
  padding: 0.25rem;
  line-height: 1;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 11px;
  border-radius: 3px;
}


.notice li {
  list-style-type: circle;
  margin-left: 1rem;
}

p.no-margin {
  margin-bottom: 0;
}


/* TABLES */
.chart__tables {
  max-width: 35rem;
  margin: 0 auto;
}

.tables__container {
  min-height: 360px;
}

.chart__tables table {
  width: 100%;
  margin: 1rem auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: none;
}

.chart__tables caption {
  margin-bottom: 0.5rem;
  /*text-align:  center;*/
  width: 100%;
}

.chart__tables table.is-active {
  display: table;
}

.chart__tables thead {
  border-bottom: 2px solid #ddd;
  font-size: 10px;
}

.chart__tables tbody {
  font-size: 12px;
}

.chart__tables tr {
  border-bottom: 1px solid #ddd;
  color: #222;
}
.chart__tables tr.highlight {
  background-color: #dcf1f0 !important;
}
.chart__tables zebra tr:nth-child(even) {
  background-color: #f6f6f6;
}
.chart__tables th {
  font-weight: bold;
  padding: 0.35em;
  /*display: table-cell;*/
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.chart__tables td {
  padding: 0.35em;
  /*display: table-cell;*/
}
.chart__tables .highlight td {
  font-weight: bold;
}
.chart__tables th.is-number, td.is-number {
  text-align: right;
}

.is-hidden {
  display: none;
}

@media only screen and (min-width: 700px) {
  .chart__genre .mobile-legend {
    display: none;
  }
}

@media only screen and (min-width: 25em) {
  .hack {
    display: none;
  }
}
@media only screen and (min-width: 40em) {
  .hack {
    display: none;
  }
  .chart__tables thead {
    font-size: 12px;
  }

  .chart__tables tbody {
    font-size: 14px;
  }
  .chart__tables tbody td:first-child, .chart__tables thead td:first-child {
    width: 11rem;
  }

  .chart__tables tbody td:nth-child(2), .chart__tables thead td:nth-child(2) {
    width: 6rem;
  }

  .chart__tables tbody td:nth-child(3), .chart__tables thead td:nth-child(3) {
    width: 10rem;
  }

  .chart__tables .toggle li {
    margin: 0.2rem;
  }

  .chart__tables .btn {
    width: 3rem;
  }
}
@media only screen and (min-width: 50em) {
  .hack {
    display: none;
  }
  .intro__hed {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 60em) {
  .hack {
    display: none;
  }
}

